* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Electrolize", sans-serif;
  font-style: normal;
}

body {
  background-image: url(../assets/25729.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/****************************************************/
/* Paleta de colores */
/****************************************************/
header {
  height: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121001;
}
header .logo {
  height: 92%;
  width: 100%;
  background-image: url(../../assets/logo.jpg);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header nav {
  height: 8%;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .hamburger {
  display: none;
}
header nav .navButton {
  width: 15%;
  height: 100%;
  text-align: center;
  line-height: 63px;
  margin-left: 20px;
  text-decoration: none;
  color: #080808;
  background-color: #ECE5D5;
  transition: all 200ms;
}
header nav .navButton:hover {
  color: #f5f5f5;
  background-color: #25D366;
}
header nav ul {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul li {
  height: 100%;
}
header nav ul li a {
  padding: 18px 5px;
  text-decoration: none;
  color: #ECE5D5;
  line-height: 63px;
  border-top: 3.5px solid transparent;
  transition: all 600ms;
}
header nav ul li a:hover {
  color: #CBA030;
  border-top: 3.5px solid #CBA030;
}

.footer {
  background-color: #080808;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
  padding: 2rem 1rem;
}

.icons {
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icons a {
  font-size: 50px;
  color: #ffcf87;
  transition: all 0.3s;
}
.icons a:hover {
  transform: scale(1.05);
}

.whatsapp:hover {
  color: #25d366;
}

.instagram:hover {
  color: #a304a3;
}

.facebook:hover {
  color: #3b5998;
}

.servicios {
  padding: 1rem 0;
}
.servicios section {
  padding-left: 20px;
}
.servicios h2 {
  margin-left: 15%;
  width: 70%;
  text-align: center;
  background-color: rgba(97, 97, 97, 0.3960784314);
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  color: #ffcf87;
  text-shadow: 2px 2px 5px #080808;
  transition: all 500ms;
}
.servicios h2:hover {
  color: #f5f5f5;
  background-color: #363636;
}

.card {
  width: 400px;
  height: 20%;
  background-color: #ceab86;
}
.card img {
  max-height: 360px;
}
.card .card-body {
  background-color: #080808;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card .card-body .card-title {
  background-color: rgba(245, 245, 245, 0.4941176471);
  border: 2px solid #080808;
  color: #ffcf87;
  text-align: center;
  text-shadow: 2px 2px 5px #080808;
  border-radius: 5px;
  transition: all 500ms;
}
.card .card-body .card-title:hover {
  background-color: #363636;
  color: #f5f5f5;
  cursor: default;
}
.card .card-body .card-text {
  color: #f5f5f5;
}
.card .card-body ul li {
  list-style: square;
  color: #f5f5f5;
}
.card .card-body .card-precio {
  margin-bottom: 10px;
  text-align: center;
  width: 50%;
  font-size: 22px;
  color: #ffcf87;
  background-color: rgba(245, 245, 245, 0.4941176471);
  border-radius: 5px;
  transition: all 500ms;
}
.card .card-body .card-precio:hover {
  cursor: default;
  background-color: #363636;
  color: #f5f5f5;
}
.card .card-body a {
  background-color: #ceab86;
  transition: all 0.3s;
  width: 100%;
}
.card .card-body a:hover {
  background-color: #ffcf87;
  color: #080808;
  transform: scale(1.01);
}
.card .card-body a:active {
  background-color: rgba(73, 134, 124, 0.5529411765);
}

.turnos {
  width: 100%;
  height: 100%;
  align-content: center;
  background-image: url(../../assets/25729.jpg);
}
.turnos h2 {
  background-color: rgba(97, 97, 97, 0.3960784314);
  border: 3px solid #f5f5f5;
  color: #ffcf87;
  text-shadow: 2px 2px 5px #080808;
  width: 80%;
  margin: auto;
  margin-top: 8px;
  transition: all 500ms;
}
.turnos h2:hover {
  background-color: #363636;
  color: #f5f5f5;
  cursor: default;
}

.form {
  margin: auto;
  background-color: #ceab86;
  color: #f5f5f5;
  width: 90%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #080808;
}
.form .formGrid {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  column-gap: 10px;
  padding: 10px 10px;
  margin-bottom: 1rem;
}
.form .formGrid .formItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 19px;
  padding: 0 5px;
}
.form .formGrid .formItem label {
  align-self: center;
  width: 60%;
  margin-bottom: 8px;
  background-color: #080808;
  border-radius: 5px;
  color: #ffcf87;
  text-shadow: 2px 2px 5px #080808;
}
.form .formGrid .formItem .formInput {
  padding: 4px 3px;
  background-color: #f5f5f5;
  border-radius: 12px;
  transition: 300ms;
}
.form .formGrid .formItem .formInput:focus {
  font-size: 18px;
  background-color: #fff;
}
.form .formGrid .formItem .form-select option {
  background-color: #080808;
  color: #f5f5f5;
}

.formItem1 {
  grid-column: 1/7;
  grid-row: 1/2;
}

.formItem2 {
  grid-column: 7/13;
  grid-row: 1/2;
}

.formItem3 {
  grid-column: 1/7;
  grid-row: 2/3;
}

.formItem4 {
  grid-column: 7/13;
  grid-row: 2/3;
}

.formItem5 {
  grid-column: 1/7;
  grid-row: 3/4;
}

.formItem6 {
  grid-column: 7/13;
  grid-row: 3/5;
  height: 100%;
  align-self: stretch;
}
.formItem6 input {
  height: 100%;
}

.formItem7 {
  text-align: center;
  background-color: rgba(54, 54, 54, 0.5254901961);
  height: 40px;
  width: 100%;
  border-radius: 5px;
  grid-column: 3/11;
  grid-row: 5/6;
}
.formItem7 a {
  line-height: 40px;
  text-decoration: none;
  color: #ffcf87;
  font-size: 18px;
  text-shadow: 2px 2px 5px #080808;
}
.formItem7:hover {
  background-color: #080808;
}

.cursoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ceab86;
  border-radius: 15px;
  height: 80%;
  width: 550px;
}
.cursoCard .cursoCardImg {
  height: 500px;
  width: 90%;
  padding-top: 20px;
}
.cursoCard .cursoCardText {
  padding: 15px;
  background-color: #080808;
  color: #f5f5f5;
  width: 90%;
  height: 20%;
}
.cursoCard .cursoCardText .cursoCardTitle {
  font-size: 30px;
}
.cursoCard .cursoCardText .cursoCardPh {
  font-size: 20px;
}
.cursoCard .cursoCardBoton {
  background-color: #080808;
  width: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}
.cursoCard .cursoCardBoton h3 {
  color: #f5f5f5;
  padding: 0 15px;
}
.cursoCard .cursoCardBoton .cursoBoton {
  width: 30%;
  background-color: #363636;
  color: #f5f5f5;
  margin-left: 15px;
  font-size: 20px;
  padding: 13px;
  border-radius: 5px;
}
.cursoCard .cursoCardBoton .cursoBoton:hover {
  background-color: rgba(245, 245, 245, 0.4941176471);
  color: #ffcf87;
  text-shadow: 2px 2px 6px #080808;
}
.cursoCard .cursoCardBoton .cursoBoton:active {
  background-color: #363636;
  color: #f5f5f5;
}
.cursoCard .cursoCardBoton .accordion {
  margin: 10px 15px;
}
.cursoCard .cursoCardBoton .accordion .accordion-item h2 button {
  color: #f5f5f5;
  background-color: #363636;
  font-size: 20px;
}
.cursoCard .cursoCardBoton .accordion .accordion-item h2 button:hover {
  color: #ffcf87;
  text-shadow: 2px 2px 6px #080808;
}
.cursoCard .cursoCardBoton .accordion .accordion-item h2 button:active {
  color: #f5f5f5;
}
.cursoCard .cursoCardBoton .accordion-body {
  background-color: #363636;
}
.cursoCard .cursoCardBoton .accordion-body p {
  color: #f5f5f5;
}

.contactoFlex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url(../../assets/backgroundImg.jpg);
  background-size: cover;
}

.iconos {
  padding: 10px;
  margin-top: 30px;
  background-color: #ceab86;
  width: 50%;
  border-radius: 10px;
}
.iconos .icono {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.iconos .icono i {
  font-size: 50px;
}
.iconos .icono p {
  font-size: 25px;
}

.contactForm {
  background-color: #ceab86;
  height: 400px;
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 10px;
  box-shadow: 2px 2px 10px #080808;
}
.contactForm .contactInput1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contactForm .contactInput2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contactForm .contactInput3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.contactForm .contactInput4 {
  grid-column: 2/3;
  grid-row: 1/4;
  height: 100%;
}
.contactForm .sendBtn {
  font-size: 20px;
  color: #ffcf87;
  background-color: #080808;
}
.contactForm .sendBtn:hover {
  color: #ffcf87;
  background-color: #363636;
}

@keyframes aboutIntro {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes achicar {
  0% {
    width: 100%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 60%;
  }
}
.aboutMe {
  width: 70%;
  margin: 20px 15%;
  background-color: rgba(54, 54, 54, 0.5254901961);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #363636;
  transition: all 2s;
  position: relative;
  animation-name: aboutIntro;
  animation-duration: 2s;
}
.aboutMe:hover {
  box-shadow: 1px 2px 8px #363636 inset;
}
.aboutMe h2 {
  background-color: rgba(97, 97, 97, 0.3960784314);
  border-radius: 5px;
  border: 3px solid #f5f5f5;
  text-align: center;
  font-size: 32px;
  width: 70%;
  color: #ffcf87;
  text-shadow: 2px 2px 5px #080808;
  transition: all 500ms;
}
.aboutMe h2:hover {
  background-color: #363636;
  box-shadow: 1px 1px 5px #080808 inset;
}
.aboutMe .gris {
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.2rem;
  color: #f5f5f5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.aboutMe .gris img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}
.aboutMe .gris p {
  padding: 0 2rem;
}
.aboutMe .blanco {
  background-color: #f5f5f5;
  color: #080808;
}
.aboutMe .beige {
  background-color: #ffcf87;
  color: #080808;
}

.titles {
  background-image: url(../../assets/backgroundImg.jpg);
  background-position: center;
  background-size: cover;
  padding: 0.5rem 1rem 2rem 1rem;
}
.titles h2 {
  color: #ffcf87;
  background-color: rgba(97, 97, 97, 0.3960784314);
  border: 3px solid #f5f5f5;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 0.5rem;
  text-shadow: 2px 2px 5px #080808;
  transition: all 500ms;
}
.titles h2:hover {
  background-color: #363636;
  box-shadow: 1px 1px 5px #080808 inset;
}
.titles div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.titles div img {
  width: 20%;
  height: auto;
  border: 7px solid #080808;
  border-radius: 5px;
  transition: all 1s;
}
.titles div img:hover {
  transform: scale(1.5);
}

.galeriaTitle {
  color: #ffcf87;
  text-shadow: 2px 2px 5px #080808;
  background-color: rgba(97, 97, 97, 0.3960784314);
  display: inline-block;
  width: 70%;
  height: 40px;
  margin: 10px 15%;
  border-radius: 5px;
  border: solid 2px #f5f5f5;
  box-shadow: 2px 2px 10px #363636;
  transition: all 500ms;
}
.galeriaTitle:hover {
  background-color: #363636;
}

.carouselGrid {
  background-color: #363636;
  padding: 50px 25px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "carousel carousel img1 img9 img3" "carousel carousel img1 img5 img3" "img7 img10 img6 img2 img2" "img7 img8 img4 img2 img2";
  gap: 5px;
}

.indexCarousel {
  border: 7px solid #080808;
  grid-area: carousel;
  border-radius: 10px;
}
.indexCarousel .carousel-indicators button {
  height: 10px !important;
  width: 20px;
}

.galeriaImg {
  border: 7px solid #080808;
  border-radius: 10px;
  transition: all 0.9s;
  filter: saturate(70%);
  background-position: center;
  background-size: cover;
}
.galeriaImg:hover {
  transform: scale(1.06);
  filter: saturate(100%);
}

.galeriaImg1 {
  grid-area: img1;
  background-image: url(../../assets/galeriaImg1.jpeg);
}

.galeriaImg2 {
  grid-area: img2;
  background-image: url(../../assets/galeriaImg2.jpeg);
}

.galeriaImg3 {
  grid-area: img3;
  background-image: url(../../assets/galeriaImg3.jpeg);
}

.galeriaImg4 {
  grid-area: img4;
  background-image: url(../../assets/galeriaImg4.jpeg);
}

.galeriaImg5 {
  grid-area: img5;
  background-image: url(../../assets/galeriaImg5.jpeg);
}

.galeriaImg6 {
  grid-area: img6;
  background-image: url(../../assets/galeriaImg6.jpeg);
}

.galeriaImg7 {
  grid-area: img7;
  background-image: url(../../assets/galeriaImg7.jpeg);
}

.galeriaImg8 {
  grid-area: img8;
  background-image: url(../../assets/galeriaImg8.jpeg);
}

.galeriaImg9 {
  grid-area: img9;
  background-image: url(../../assets/galeriaImg9.jpeg);
}

.galeriaImg10 {
  grid-area: img10;
  background-image: url(../../assets/galeriaImg10.jpeg);
}

.flip {
  transition: all 2s;
  transform: rotateY(360deg);
}

.achicar {
  animation-name: achicar;
  animation-duration: 2s;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
