/****************************************************/
/* Paleta de colores */
/****************************************************/


$beige: #ffcf87;
$negro: #080808;
$grisOscuro: #363636;
$beige2: #ceab86;
$blanco: #f5f5f5;
