.cursoCard {
    @include flex(column, center, center);
    background-color: $beige2;
    border-radius: 15px;
    height: 80%;
    width: 550px;

        .cursoCardImg {
            height: 500px;
            width: 90%;
            padding-top: 20px;
        }

        .cursoCardText {
            padding: 15px;
            background-color: $negro;
            color: $blanco;
            width: 90%;
            height: 20%;

                .cursoCardTitle {
                    font-size: 30px;
                }

                .cursoCardPh {
                    font-size: 20px;
                }
        }

        .cursoCardBoton {
            background-color: $negro;
            width: 90%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-bottom: 20px;

                h3 {
                    color: $blanco;
                    padding: 0 15px;
                }

                .cursoBoton {
                    width: 30%;
                    background-color: $grisOscuro;
                    color: $blanco;
                    margin-left: 15px;
                    font-size: 20px;
                    padding: 13px;
                    border-radius: 5px;
                        &:hover {
                            background-color: #f5f5f57e;
                            color: $beige;
                            text-shadow: 2px 2px 6px $negro;
                        }
                        &:active {
                            background-color: $grisOscuro;
                            color: $blanco;
                        }
                }

                .accordion {
                    margin: 10px 15px;

                        .accordion-item h2 button {
                            color: $blanco;
                            background-color: $grisOscuro;
                            font-size: 20px;
                                &:hover {
                                    color: $beige;
                                    text-shadow: 2px 2px 6px $negro;
                                }
                                &:active {
                                    color: $blanco;
                                }
                        }
                }

                .accordion-body {
                    background-color: $grisOscuro;

                        p {
                            color: $blanco;
                        }
                }
        }
}