.cursoCard {
    @include flex(column, center, center);
    background-color: $pastelBlue;
    border-radius: 15px;
    height: 800px;
    width: 550px;

        .cursoCardImg {
            height: 500px;
            width: 500px;
            padding-top: 20px;
        }

        .cursoCardText {
            padding: 15px;
            background-color: $negro;
            color: $blanco;
            width: 500px;
            height: 300px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

                .cursoCardTitle {
                    font-size: 30px;
                }

                .cursoCardPh {
                    font-size: 20px;
                }
        }

        .cursoCardBoton {
            height: 30px;
            width: 100%;

                .cursoBoton {
                    background-color: $grisOscuro;
                    color: $blanco;
                    text-decoration: none;
                    padding: 20px 50px;
                    margin-left: 90px;
                    font-size: 20px;
                    border-radius: 10px;
                    transition: all 0.2s;
                        &:hover {
                            background-color: #36363686;
                            color: $beige;
                            border: 2px solid #f5f5f57e;
                            text-shadow: 2px 2px 6px $negro;
                        }
                }
        }
}