header {
    height: 768px;
    width: 100%;
    @include flex(column, center, center);
    background-color: #121001;

    .logo {
        height: 92%;
        width: 100%;
        background-image: url(../../assets/logo.jpg);
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    nav {
        height: 8%;
        width: 100%;
        position: sticky;
        @include flex(row, space-between, center);

        .navButton {
            width: 15%;
            height: 100%;
            text-align: center;
            line-height: 63px;
            margin-left: 20px;
            text-decoration: none;
            color: $negro;
            background-color: #ECE5D5;
            transition: all 200ms;

            &:hover {
                color: $blanco;
                background-color: #25D366;
            }
        }

        ul {
            height: 100%;
            width: 80%;
            @include flex(row, center, center);
            gap: 80px;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                height: 100%;

                a {
                    padding: 18px 5px;
                    text-decoration: none;
                    color: #ECE5D5;
                    line-height: 63px;
                    border-top: 3.5px solid transparent;
                    transition: all 600ms;

                    &:hover {
                        color: #CBA030;
                        border-top: 3.5px solid #CBA030;
                    }
                }
            }
        }

        #hamburger {
            display: none;
            font-size: 2rem;
            cursor: pointer;
            color: #ECE5D5;
            margin-right: 20px;
        }
    }
}