/*responsive index.html*/

@media (min-width: 1024px) and (max-width: 1200px) {
    .navBar .logo {
        margin-right: 20%;
    }

    .navBar div ul li a {
        margin: 1px 18px;
        padding: 5px 0;
    }
}

@media (max-width: 768px) {
    nav {
        .navButton {
            width: auto;
            margin-left: 0;
        }

        ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            flex-direction: column;
            width: 100%;
            background-color: #121001;
            padding: 0;

            li {
                text-align: center;
                width: 100%;

                a {
                    padding: 20px;
                    line-height: 20px;
                    border-top: none;
                    border-bottom: 1px solid #575757;
                    &:hover {
                        border-bottom: 1px solid #CBA030;
                    }
                }
            }
        }

        #hamburger {
            display: block;
        }
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .navBar ul li a {
        width: 100px;
    }

    .titles {
        margin: 0 5%;
        width: 90%;

            div{
                @include flex(column, space-evenly, center);
                gap: 10px;

                    img {
                        height: 300px;
                        width: 450px;
                    }
            }
    }
}

.carouselGrid {
    @include grid (repeat(4, 1fr), repeat(4, 1fr));
}

.indexCarousel {
    grid-column: 2/4;
    grid-row: 1/3;
}

.galeriaImg1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.galeriaImg2 {
    grid-column: 2/4;
    grid-row: 3/5;
}

.galeriaImg3 {
    display: none;
}

.galeriaImg4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.galeriaImg5 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.galeriaImg6 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.galeriaImg7 {
    grid-column: 4/5;
    grid-row: 3/5;
}

.galeriaImg8 {
    display: none;
}

.galeriaImg9 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.galeriaImg10 {
    display: none;
}

@media (min-width: 425px) and (max-width: 599px) {
    .navBar ul li a {
        width: 100px;
    }
    
    .aboutMe h2 {
        font-size: 24px;
    }

    .aboutMe div {
        @include flex(column, center, center);

            img {
                height: 300px;
                width: 250px;
            }
    }

    .titles {
        margin: 0 5%;
        width: 90%;

            div {
                @include flex(column, space-evenly, center);

                    img {
                        height: 150px;
                        width: 250px;
                    }
            }
    }

    .carouselGrid {
            @include grid(repeat(9, 1fr), repeat(2, 1fr));
    }

    .indexCarousel {
        grid-column: 1/3;
        grid-row: 1/3;
    }    

    .galeriaImg1 {
        grid-column: 1/2;
        grid-row: 3/5;
    }
    
    .galeriaImg2 {
        grid-column: 1/3;
        grid-row: 8/10;
    }
    .galeriaImg3 {
        grid-column: 1/2;
        grid-row: 6/8;
    }
    
    .galeriaImg4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .galeriaImg5 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .galeriaImg6 {
        display: none;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .galeriaImg7 {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    
    .galeriaImg8 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    .galeriaImg9 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    
    .galeriaImg10 {
        display: none;
    }

    .footer p {
        font-size: 10px;
    }

    .icons {
        height: 3.125rem;
        width: 7.5rem;
        @include flex(row, space-between, center);

            a {
                font-size: 30px;
            }
    }
}

@media screen and (max-width: 424px) {
    .aboutMe {
        margin: 1.25rem 5%;
        width: 90%;

        div {
            @include flex(column, center,center);

                img {
                    height: 18.75rem;
                    width: 15.625rem;
                }
        }
    }
    
    .navBar ul li a {
        width: 100px;
    }

    .titles {
        margin: 0 5%;
        width: 90%;

            div{
                @include flex(column, space-evenly, center);
                gap: 10px;

                    img {
                        height: 300px;
                        width: 450px;
                    }
            }
    }

    .indexCarousel {
        grid-column: 1/3;
        grid-row: 1/3;
    } 

    .galeriaImg1 {
        grid-column: 1/2;
        grid-row: 3/5;
    }
    
    .galeriaImg2 {
        grid-column: 1/3;
        grid-row: 8/10;
    }
    .galeriaImg3 {
        grid-column: 1/2;
        grid-row: 6/8;
    }
    
    .galeriaImg4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .galeriaImg5 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .galeriaImg6 {
        display: none;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .galeriaImg7 {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    
    .galeriaImg8 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    .galeriaImg9 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    
    .galeriaImg10 {
        display: none;
    }

    .icons {
        height: 3.125rem;
        width: 6.25rem;
        @include flex(row, space-between, center);

            a {
                font-size: 25px;
            }
    }
}

/*fin de index.html*/

/*inicio de turnos.html*/

@media (min-width: 1024px) and (max-width: 1200px) {
    .formGrid {
            column-gap: 5px;
            padding: 5px 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .turnos h2 {
        width: 75%;
        font-size: 26px;
    }


    .formGrid {
        column-gap: 5px;
        padding: 5px 5px;

            .formItem {
                font-size: 18px;
            }
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .turnos h2 {
        width: 65%;
        font-size: 20px;
    }

    .form {
        height: 80%;

            .formGrid {
                @include grid(repeat(7 ,1fr), repeat(1,1fr));
                row-gap: 40px;

                    .formItem {
                        display: flex;
                        flex-direction: column;
                        text-align: start;

                            label {
                                display: none;
                                align-self: center;
                                font-size: 17px;
                                width: 40%;
                                padding-left: 10px;
                            }

                            .formInput {
                                font-size: 16px;
                                box-shadow: 1px 1px 2px $negro inset;
                            }
                    }
            }
    }

    .formItem1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .formItem2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .formItem3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .formItem4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .formItem5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .formItem6 {
        grid-column: 1/2;
        grid-row: 6/7;
        height: 100%;
        align-self: stretch;
    
            input {
                height: 100%;
            }
    }

    .formItem7 {
        grid-column: 1/2;
        grid-row: 7/8;
        background-color: $negro;
        width: 60%;
        margin: auto;

            a {
                margin: auto;
            }
    }
}

@media (min-width: 425px) and (max-width: 599px) {
    .turnos h2 {
        width: 65%;
        font-size: 20px;
    }

    .form {
        height: 100%;
        width: 60%;

            .formGrid {
                @include grid(repeat(7 ,1fr), repeat(1,1fr));
                row-gap: 2px;

                    .formItem {
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        padding: 0 0;

                            label {
                                align-self: center;
                                font-size: 16px;
                                text-align: center;
                            }

                            .formInput {
                                font-size: 16px;
                                box-shadow: 1px 1px 2px $negro inset;
                            }
                    }
            }
    }

    .formItem1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .formItem2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .formItem3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .formItem4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .formItem5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .formItem6 {
        grid-column: 1/2;
        grid-row: 6/7;
        height: 100%;
        align-self: stretch;
    
            input {
                height: 100%;
            }
    }

    .formItem7 {
        grid-column: 1/2;
        grid-row: 7/8;
        background-color: $negro;
        width: 60%;
        margin: auto;

            a {
                margin: auto;
            }
    }
}

@media screen and (max-width: 424px) {
    .turnos h2 {
        width: 65%;
        font-size: 18px;
    }

    .form {
        height: 100%;
        width: 80%;

            .formGrid {
                @include grid(repeat(7 ,1fr), repeat(1,1fr));
                row-gap: 2px;

                    .formItem {
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        padding: 0 0;

                            label {
                                align-self: center;
                                font-size: 14px;
                                text-align: center;
                            }

                            .formInput {
                                font-size: 14px;
                                box-shadow: 1px 1px 2px $negro inset;
                            }
                    }
            }
    }

    .formItem1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .formItem2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .formItem3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .formItem4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .formItem5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .formItem6 {
        grid-column: 1/2;
        grid-row: 6/7;
        height: 100%;
        align-self: stretch;
    
            input {
                height: 100%;
            }
    }

    .formItem7 {
        grid-column: 1/2;
        grid-row: 7/8;
        background-color: $negro;
        width: 60%;
        margin: auto;

            a {
                margin: auto;
            }
    }
}

/*fin de turnos.html*/

/*inicia cursos.html*/

@media (min-width: 1024px) and (max-width: 1200px) {
    .cursoCard {
        height: 50%;
        width: 40%;

            .cursoCardImg {
                height: 400px;
                width: 400px;
            }

            .cursoCardText {
                width: 400px;
                height: 280px;

                    .cursoCardTitle {
                        font-size: 26px;
                    }

                    .cursoCardPh {
                        font-size: 20px;
                    }
            }
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .curso {
        @include flex(column, center, center);
        gap: 50px;
    }

    .cursoCard {
        height: 50%;
        width: 55%;

            .cursoCardImg {
                height: 400px;
                width: 90%;
            }

            .cursoCardText {
                width: 90%;
                height: 320px;

                    .cursoCardTitle {
                        font-size: 26px;
                    }

                    .cursoCardPh {
                        font-size: 20px;
                    }
            }
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .curso {
        @include flex(column, center, center);
        gap: 50px;
    }

    .cursoCard {
        height: 50%;
        width: 55%;

            .cursoCardImg {
                height: 400px;
                width: 90%;
            }

            .cursoCardText {
                width: 90%;
                height: 320px;

                    .cursoCardTitle {
                        font-size: 26px;
                    }

                    .cursoCardPh {
                        font-size: 20px;
                    }
            }

            .cursoCardBoton .cursoBoton{
                margin-left: 20px;

            }
    }
}

@media (min-width: 425px) and (max-width: 599px) {
    .curso {
        @include flex(column, center, center);
        gap: 50px;
    }

    .cursoCard {
        height: 50%;
        width: 70%;

            .cursoCardImg {
                height: 400px;
                width: 90%;
            }

            .cursoCardText {
                width: 90%;
                height: 320px;

                    .cursoCardTitle {
                        font-size: 26px;
                    }

                    .cursoCardPh {
                        font-size: 20px;
                    }
            }

            .cursoCardBoton .cursoBoton{
                margin-left: 20px;
                padding: 15px 30px;
            }
    }
}

@media screen and (max-width: 424px) {
    .curso {
        @include flex(column, center, center);
        gap: 50px;
    }

    .cursoCard {
        height: 40%;
        width: 80%;

            .cursoCardImg {
                height: 300px;
                width: 90%;
            }

            .cursoCardText {
                width: 90%;
                height: 320px;
                overflow: scroll;

                    .cursoCardTitle {
                        font-size: 24px;
                    }

                    .cursoCardPh {
                        font-size: 18px;
                    }
            }

            .cursoCardBoton .cursoBoton{
                margin-left: 20px;
                padding: 15px 30px;
            }
    }
}

/*fin de cursos.html*/

/*inicio de contacto.html*/

@media (min-width: 768px) and (max-width: 1023px) {
    .iconos {
        width: 70%;
        padding: 10px;

            .icono i {
                font-size: 45px;
            }

            .icono p {
                font-size: 22px;
            }
    }

    .contactForm {
        width: 90%;
        height: 350px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .iconos {
        width: 70%;
        padding: 10px;

            .icono i {
                font-size: 45px;
            }

            .icono p {
                font-size: 22px;
            }
    }

    .contactForm {
        width: 90%;
        height: 600px;
        @include grid(repeat(5, 1fr), repeat(1,1fr));

            .contactInput {
                margin: auto;
                width: 85%;
            }

            .contactInput1 {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            
            .contactInput2 {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            
            .contactInput3 {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            
            .contactInput4 {
                grid-column: 1/2;
                grid-row: 4/5;
                height: 100%;
            }

            .sendBtn {
                width: 70%;
                margin: auto;
            }
    }
}

@media (min-width: 425px) and (max-width: 600px) {
    .iconos {
        width: 70%;
        padding: 10px;

            .icono i {
                font-size: 40px;
            }

            .icono p {
                font-size: 18px;
            }
    }

    .contactForm {
        width: 80%;
        height: 600px;
        @include grid(repeat(5, 1fr), repeat(1,1fr));

            .contactInput {
                font-size: 14px;
                margin: auto;
                width: 85%;
            }

            .contactInput1 {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            
            .contactInput2 {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            
            .contactInput3 {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            
            .contactInput4 {
                grid-column: 1/2;
                grid-row: 4/5;
                height: 100%;
            }

            .sendBtn {
                width: 70%;
                margin: auto;
                font-size: 14px;
            }
    }
}