.turnos {
    width: 100%;
    height: 650px;
    align-content: center;
    background-image: url(../../assets/25729.jpg);

        h2 {
            background-color: #61616165;
            border: 3px solid $blanco;
            color: $beige;
            text-shadow: 2px 2px 5px $negro;
            width: 80%;
            margin: auto;
        }
}

.form {
    margin: auto;
    background-color: $beige2;
    color: $blanco;
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px $negro;

        .formGrid {
            @include grid(repeat(5, 100px), repeat(12, 1fr));
            align-items: center;
            column-gap: 10px;
            padding: 10px 10px;

                .formItem {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font-size: 19px;
                    padding: 0 5px;

                        label {
                            align-self: center;
                            width: 60%;
                            margin-bottom: 8px;
                            background-color: $negro;
                            border-radius: 5px;
                            color: $beige;
                            text-shadow: 2px 2px 5px $negro;
                        }

                        .formInput {
                            padding: 4px 3px;
                            background-color: $blanco;
                            border-radius: 12px;
                        }

                        .form-select option {
                            background-color: $negro;
                            color: $blanco;
                        }
                }
        }
}

.formItem1 {
    grid-column: 1/7;
    grid-row: 1/2;
}

.formItem2 {
    grid-column: 7/13;
    grid-row: 1/2;
}

.formItem3 {
    grid-column: 1/7;
    grid-row: 2/3;
}

.formItem4 {
    grid-column: 7/13;
    grid-row: 2/3;
}

.formItem5 {
    grid-column: 1/7;
    grid-row: 3/4;
}

.formItem6 {
    grid-column: 7/13;
    grid-row: 3/5;
    height: 100%;
    align-self: stretch;

        input {
            height: 100%;
        }
}

.formItem7 {
    text-align: center;
    background-color: #36363686;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    grid-column: 3/11;
    grid-row: 5/6;
        
        a {
            line-height: 40px;
            text-decoration: none;
            color: $beige;
            font-size: 18px;
            text-shadow: 2px 2px 5px $negro;
        }

        &:hover {
            background-color: $negro;
        }
}